.home__container {
  width: 75%;
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
}

.self-portrait {
  width: 100%;
  padding-top: 10px;
  position: absolute;
  bottom: 0;

  @media screen and (min-width: 1500px) {
    top: 0;
    left: 0;
    right: 0;
  }
}
